body {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      60.64deg,
      rgba(255, 75, 31, 0.6) 0%,
      rgba(31, 221, 255, 0.6) 100%
    ),
    #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Inter";
}
* {
  scrollbar-width: thin;
  scrollbar-color: #dce0e2 #ffffff;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: #dce0e2;
  border: 1px solid rgba(42, 49, 53, 0.05);
  box-sizing: border-box;
  border-radius: 2px;
}
.hide_elements {
  display: none;
}
.cont_misc {
  position: absolute;
  width: 1280px;
  height: 1120px;
  left: 160px;
  top: 44px;
}
.btn_freedl {
  position: absolute;
  width: 232px;
  height: 72px;
  left: 0;
  bottom: 0;
  box-shadow: 0px 6px 32px rgba(74, 0, 224, 0.35);
  border-radius: 36px;
}
.figma_template {
  position: absolute;
  right: 0;
  bottom: 0;
}
.btn_freedl:hover {
  filter: saturate(60%);
}
.cont_main {
  position: relative;
  width: 1440px;
  height: 912px;
  background: #f3f5f9;
  box-shadow: 2px 8px 32px rgba(134, 140, 144, 0.35);
  border-radius: 24px;
  margin: 50px auto;
}
.cont_head {
  position: relative;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  width: 1440px;
  height: 88px;
  grid-template-columns: 72px 24px 16px 108px 72px 88px 48px 56px 48px 56px 644px 24px 32px 24px 32px 24px 72px;
  grid-template-rows: 32px 24px 8px 24px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
  border-radius: 24px 24px 0 0;
}
.cont_body {
  box-sizing: border-box;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1296px;
  height: 680px;
  margin: 72px;
}
.cont_body > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 324px;
  box-shadow: 0px 2px 8px rgba(134, 140, 144, 0.05);
  border-radius: 16px;
}
.cont_balance {
  width: 300px;
  background: #ffffff;
  order: 1;
}
.cont_banner {
  justify-content: space-between;
  background: linear-gradient(139.39deg, #373b44 0%, #4286f4 100%), #ffffff;
  width: 300px;
  padding: 32px;
  order: 2;
}
.cont_banner p {
  width: 236px;
  height: 48px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.15);
}
.text_line_01 {
  font-size: 48px;
  letter-spacing: 0.04em;
}
.text_line_02 {
  font-size: 32px;
  margin: 8px 0;
}
.cont_banner a {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 48px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.cont_banner a:hover {
  background: linear-gradient(300deg, #373b44 0%, #4286f4 100%), #ffffff;
  box-shadow: 0px 6px 32px rgba(74, 0, 224, 0.35);
}
.cont_operations {
  width: 632px;
  background: #ffffff;
  order: 5;
}
.cont_rates {
  width: 300px;
  background: #ffffff;
  order: 4;
}
.cont_feed {
  width: 632px;
  position: relative;
  background: #ffffff;
  order: 3;
}
.cont_wallets {
  width: 300px;
  background: #ffffff;
  order: 6;
}
.head_line {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  padding: 0 32px 0;
  height: 32px;
}
.head_line p {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #2a3135;
}
.head_line p i {
  color: #dce0e2;
}
.head_line img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.head_line_lp {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cont_big_balance {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 236px;
  height: 40px;
  margin: 16px 32px 20px;
}
.cont_big_balance > img {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.cont_big_balance > p {
  box-sizing: border-box;
  width: 147px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on, "case" on, "salt" on;
  color: #2a3135;
  margin-left: 8px;
  margin-right: auto;
}
.cont_big_balance > a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(220, 224, 226, 0.4);
  border-radius: 50%;
}
.cont_big_balance > a > img {
  width: 12px;
  height: 12px;
}
.cont_balance_body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f3f5f9;
  width: 300px;
  height: 184px;
  padding: 12px 16px 32px 32px;
}
.cont_balance_body > p {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #868c90;
  margin-bottom: 12px;
}
.cont_balance_log {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 252px;
  height: 112px;
}
.cont_balance_line {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 236px;
  height: 16px;
  margin-bottom: 8px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
  text-transform: uppercase;
}
.cont_balance_line > img {
  width: 16px;
  height: 16px;
}
.cont_balance_line :nth-child(2) {
  width: 56px;
  margin: 0 24px;
}
.cont_balance_line :nth-child(3) {
  color: #dce0e2;
  width: 116px;
}
.cont_rates_body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 236px;
  height: 208px;
  margin: 24px 32px 28px 32px;
}
.cont_rates_line {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 236px;
  height: 32px;
}
.cont_rates_line > img {
  box-sizing: border-box;
  width: 48px;
  height: 32px;
}
.cont_rates_line > p {
  box-sizing: border-box;
  font-family: "Inter";
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.cont_rates_line :nth-child(2) {
  color: #868c90;
  width: 76px;
}
.cont_rates_line :nth-child(3) {
  color: #2a3135;
  width: 80px;
  text-align: right;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
}
.cont_wallets_item {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-columns: 40px 24px 116px 24px 32px;
  grid-template-rows: 20px 4px 16px;
  width: 236px;
  height: 40px;
  margin: 16px 32px 0;
}
.wallet_main {
  margin: 24px 32px 20px;
}
.cont_feed_body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 584px;
  height: 236px;
  overflow-y: scroll;
  margin: 24px 16px 0 32px;
}
.cont_feed_item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 568px;
  margin-bottom: 16px;
}
.cont_feed_item > :nth-child(1) {
  width: 4px;
  height: 100%;
  opacity: 0.4;
  margin-right: 20px;
}
.cont_feed_item > :nth-child(3) {
  width: 16px;
  height: 16px;
  margin-left: 16px;
}
.cont_feed_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 512px;
}
.cont_feed_text > p {
  box-sizing: border-box;
  width: 512px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2a3135;
}
.cont_feed_text > div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 512px;
  margin-top: 4px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
}
.cont_feed_text > div > :nth-child(1) {
  color: #868c90;
}
.cont_feed_text > div > :nth-child(2) {
  color: rgba(242, 145, 27, 0.6);
}
.cont_operations_body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 584px;
  height: 168px;
  overflow-y: scroll;
  margin: 16px 16px 0 32px;
}
.cont_operations_item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 568px;
  margin-bottom: 16px;
}
.operations_01 {
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
  color: #dce0e2;
}
.operations_02 {
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  font-feature-settings: "tnum" on, "lnum" on, "case" on;
  color: #2a3135;
  text-transform: uppercase;
  margin-top: 4px;
}
.cont_operations_item > :nth-child(1) {
  width: 24px;
  height: 24px;
}
.cont_operations_item > :nth-child(2) {
  width: 232px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.cont_operations_item > :nth-child(3) {
  width: 88px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.cont_operations_item > :nth-child(4) {
  width: 72px;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.cont_operations_item > :nth-child(5) {
  width: 16px;
  height: 16px;
}
.cont_operations_item > :nth-child(6) {
  width: 16px;
  height: 16px;
}
.cont_operations_select {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 568px;
  height: 32px;
  margin: 24px 32px 20px;
}
.cont_operations_select a {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 32px;
  width: 96px;
  height: 32px;
  border-radius: 16px;
}
.cont_operations_select a:link {
  text-decoration: none;
}
.btn1 {
  background: rgba(38, 222, 129, 0.6);
  box-shadow: 0px 2px 4px rgba(38, 222, 129, 0.15);
  color: #ffffff;
  margin: 0 16px 0 24px;
}
.btn1:hover {
  opacity: 0.6;
}
.btn2 {
  opacity: 0.6;
  border: 1px solid #dce0e2;
  color: #868c90;
}
.btn2:hover {
  opacity: 1;
}
.cont_in {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 152px;
  height: 32px;
  margin-right: 16px;
}
.cont_in input {
  box-sizing: border-box;
  width: 88px;
  height: 32px;
  border: 1px solid #dce0e2;
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "tnum" on, "lnum" on, "case" on;
  color: #2a3135;
}
.cont_in select {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 64px;
  height: 32px;
  border: 1px solid #dce0e2;
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  padding-left: 4px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "tnum" on, "lnum" on, "case" on;
  color: #868c90;
}
.txt_16 {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.txt_b {
  font-weight: 700;
}
.flex_col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 32px;
  cursor: pointer;
}
.flex_col:focus {
  color: #2a3135;
}
.flex_col:focus .line_h01 {
  visibility: visible;
}
.line_h01 {
  box-sizing: border-box;
  width: 48px;
  height: 2px;
  background: #f2911b;
  border-radius: 2px;
  visibility: hidden;
}
.bottom_fade {
  border-radius: 20px;
  z-index: 99;
  position: absolute;
  bottom: 0%;
  width: calc(100% - 64px);
  height: 80px;
  background-image: url("https://github.com/soulllboy/testrepsoul01/blob/main/folder05/bottom_fade82.png?raw=true");
}
.gr_head_r01 {
  grid-row: 2 / 3;
}
.gr_head_r02 {
  grid-row: 2 / 4;
}
.gr_head_c01 {
  grid-column: 2 / 3;
}
.gr_head_c02 {
  grid-column: 4 / 5;
}
.gr_head_c03 {
  grid-column: 6 / 7;
}
.gr_head_c04 {
  grid-column: 8 / 9;
}
.gr_head_c05 {
  grid-column: 10 / 11;
}
.gr_head_c06 {
  grid-column: 12 / 13;
}
.gr_head_c07 {
  grid-column: 14 / 15;
}
.gr_head_c08 {
  grid-column: 16 / 17;
}
.gr_w_r01 {
  grid-row: 1 / 4;
}
.gr_w_r02 {
  grid-row: 1 / 2;
  font-size: 14px;
  line-height: 20px;
  color: #868c90;
}
.gr_w_r03 {
  grid-row: 3 / 4;
  font-size: 12px;
  line-height: 16px;
  color: #2a3135;
}
.gr_w_c01 {
  grid-column: 1 / 2;
  width: 40px;
  height: 40px;
}
.gr_w_c02 {
  grid-column: 3 / 4;
  font-family: "Inter";
  font-weight: 500;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
}
.gr_w_c03 {
  grid-column: 5 / 6;
  width: 32px;
  height: 32px;
}
.col_black_01 {
  color: #2a3135;
}
.col_grey_01 {
  color: #868c90;
}
.col_grey_02 {
  color: #dce0e2;
}
.col_or_01 {
  color: #f2911b;
}
.col_red_01 {
  color: #fc5c65;
}
.col_yellow_01 {
  color: rgba(242, 145, 27, 0.6);
}
.col_green_01 {
  color: #26de81;
}
.col_blue_01 {
  color: rgba(0, 129, 194, 0.6);
}
.colbg_grey_01 {
  background: #868c90;
}
.colbg_grey_02 {
  background: #dce0e2;
}
.colbg_red_01 {
  background: #fc5c65;
}
.colbg_green_01 {
  background: #26de81;
}
.separator {
  height: 1px;
  width: 100%;
  background: #f3f5f9;
}
